body {font-family: helvetica; font-weight:100;}
button:focus {outline:0;}
.ui-timer_container {width:400px; background:#eee; margin:auto; box-shadow: 2px 5px 5px #eee;}
.ui-timer_header {text-align:center; font-weight:600; padding:10px;}
.ui-time_container {border:#bbb 1px solid; border-width:1px 0; padding:20px; background:#fff; font-size:90px;}
.ui-time_container div {text-align:right; clear:both; margin-top:10px;}
.ui-lap_time {font-size:25px; color:#bbb;}
.ui-controls {border-bottom:solid 1px #bbb; text-align:center; padding:40px;}
.ui-controls > div {width:50%; display: inline;}
.ui-controls button {height:80px; width:80px; border-radius: 50%; border:solid 1px #ccc; font-size:17px; margin:0 20px; background:#fff;}
.ui-start {color:#48B23C;}
.ui-stop {color:#ff0000;}
.ui-inactive {opacity: .5;}
.ui-lap_record {height:200px; overflow: auto;}
.ui-lap_record div {border-bottom:solid 1px #bbb; padding:10px; text-align:right;}
.ui-lap_record div span {float:left;}